[submodule "vendor/plugins/apotomo"]
	path = vendor/plugins/apotomo
	url = git://github.com/apotonick/apotomo.git
[submodule "vendor/plugins/cells"]
	path = vendor/plugins/cells
	url = git://github.com/apotonick/cells.git
